/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/work/GoryaninU/lptolik/data/uct-srst2/"
}


   	/*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
params {

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}


process {
   container = "/work/GoryaninU/lptolik/data/uct-srst2/srst2_0.2.0--py27_2.sif"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'compute'
}

timeline	{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_timeline.html"
	}
	
report		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_report.html"
	}
	
trace		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_trace.txt"
	}
	
dag		{
	enabled = true
	file = "${params.outdir}/pipeline_info/uct-srst2_DAG.svg"
	}


executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
   max_memory = 32.GB
   max_cpus = 8
   max_time = 20.h
}
